{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <h2 id="menu-categories-title" class="text-center">
            {{ category.name }}
        </h2>
        <div class="text-center">
            {{ category.description }}
        </div>

        {% for newspaper in newspapers %}
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
            <a href="{% url 'newspaper_detail' newspaper.id %}">
                <div class="category-tile ">
                    <img width="200" height="200" src="{{ newspaper.image.url }}">
                    <span>{{ newspaper.name }}</span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}