{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <div id="main-content" class="container">
    <div class="text-center">
        <div>
        Телефон: <a href="tel:8-916-609-40-50">
                      <span>8-916-609-40-50</span></a>&nbsp;(09:00-21:00)
        </div>
          <p></p>
        <div>
            e-mail: <a href="mailto:vostok47@yandex.ru" target="_top">vostok47@yandex.ru</a>
        </div>
        <h2>
            Ирина
        </h2>
      </div>
  </div>
{% endblock %}