{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">
      <h2 id="menu-categories-title" class="text-center">Газеты и интернет-сми</h2>
      <div class="text-center">
        Здесь представлены различные виды печатных и интернет-ресурсов, в которых Вы можете разместить свою рекламу
      </div>

    {% for newspaper in newspapers %}
        <h2 id="menu-categories-title" class="text-center">
            {{ newspaper.name }}
        </h2>
        <a href="{% url 'newspaper_detail' newspaper.id %}">
            <div class="category-tile ">
                <img width="200" height="200" src="{{ newspaper.image.url }}">
                <span>{{ newspaper.name }}</span>
            </div>
        </a>
        <div class="text-center">
            {{ newspaper.description }}
        </div>
        {% if newspaper.prices %}
            <h3 class="text-center">Цены</h3>
            <div class="text-center">{{ newspaper.prices | linebreaks }}</div>
        {% endif %}
        {% if newspaper.discounts %}
            <h3 class="text-center">Скидки</h3>
            <div class="text-center">{{ newspaper.discounts | linebreaks }}</div>
        {% endif %}

        {% if newspaper.price_list and newspaper.price_list.url %}
            <div class="text-center"><img src="{{ newspaper.price_list.url }}"></div>
        {% endif %}

    {% endfor %}
    </div>
{% endblock %}